<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}{% endblock title %}
    </title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css"> 
  </head>
  <body>
    <div class="common">
      {% block body %}{% endblock body %}
      <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
  </body>
</html>