{% extends "base.html" %}

{% block title %} Login {% endblock title %}

{% block content %}
<div class="center">
  <form action="" method="post" class="form-signin" novalidate>
    <div class="row center">
      <div class="col">
        <h1 class="h3 mb-3 font-weight-normal">
          Please sign in
        </h1>
      </div>
        <!-- p>
          {{ form.username(size=32, class='form-control', placeholder="E-mail address") }}
          {% for error in form.username.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </!-- p>
        <p>
          {{ form.password(size=32, class='form-control', placeholder="Password") }}
          {% for error in form.password.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </p>

        {{ form.submit(class='btn btn-lg btn-primary btn-block') }} -->
      <div class="col">
        {% import "bootstrap/wtf.html" as wtf %}
        {{ wtf.quick_form(form) }}
      </div>

    </div>
      
  </form>
</div>
{% endblock %}