{% extends "base.html" %}

{% block title %} Login {% endblock title %}

{% block body %}
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <h1>Sign In</h1>
    <div class="formcontainer">
      <div class="container">
        <p>
          {{ form.username.label }} <br>
          {{ form.username(size=32, class='input') }}
        </p>
        <p>
          {{ form.password.label }} <br>
          {{ form.password(size=32, class='input') }}
        </p>
      </div>
      <div name="remember_me" class="btn-block">
        <p>
          {{ form.remember_me.label }}
          {{ form.remember_me }}
        </p>
      </div>
      <div class="btn-block">
        {{ form.submit() }}
      </div>
    </div>
</form>
{% endblock body %}